.course-item {
    padding: 10px 100px;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.course-name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.course-photo {
    height: auto;
    width: 70%;
}

.description {
    font-size:20px;
    width: 70%;
    height:150px;
    background-color:#9172DB;

}

.photo {
    width: 45%;
}