<div class="teacher" *ngIf="teacher">
    <div class="teacher-detail">
        <p>Teacher name: {{teacher.name}}</p>
        <img src="{{teacher.image_ref}}">
        <div *ngFor="let university of teachersUniversities">
            <app-university [university]="university"></app-university>
        </div>
        <div class="description">
            <p>Teacher degree:{{teacher.degree}}</p>
        </div>
        <div>
            <button (click)="onDefault()">All</button>
            <button (click)="onPositive()">Positive</button>
            <button (click)="onNegative()">Negative</button>
        </div>
        <div *ngIf="isDefault">
            <div *ngFor="let review of reviews">
                <div>{{review.author}}</div>
                <div>{{review.description}}</div>
            </div>
        </div>
        <div *ngIf="isPositive">
            <div *ngFor="let positivereview of positiveReviews">
                <div>{{positivereview.author}}</div>
                <div>{{positivereview.description}}</div>
            </div>
        </div>
        <div *ngIf="isNegative">
            <div *ngFor="let negativereview of negativeReviews">
                <div>{{negativereview.author}}</div>
                <div>{{negativereview.description}}</div>
            </div>
        </div>
    </div>
</div>