<div class="signup_window">
    <div class="close_signup_window" (click)="closeSignUpWindow()">x</div>
    <div class="signup_window_username">
        <h2 class="signup_window_username_label">Username:</h2>
        <input type="text" class="signup_window_username_input" [(ngModel)]="username">
    </div>
    <div class="signup_window_password">
        <h2 calss="signup_window_password_label">Password:</h2>
        <input type="text" class="signup_window_password_input" [(ngModel)]="password">
    </div>
    <div class="signup_window_repeated_password">
        <h2 class="signup_window_repeated_password_label">Please repeat your password</h2>
        <input type="text" class="signup_window_repeated_password_input" [(ngModel)]="repeatedPassword">
    </div>
    <button type="submit" class="signup_window_submit_button" (click)="signUp()">Sign Up</button>
</div>