

<div class="footer" id="footer">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
         <h4 class="logo"> Alik<span>express</span> </h4>
         <p class="pull-left copyright"> Copyright © WebDev 2020. Все права защищены. </p>
 
       </div>
       <div class="col-lg-3 col-sm-2 col-xs-3">
         <h3> Contacts </h3>
         <ul>
           <li><a class="email"href="#"> goahead@kbtu.kz </a></li>
           <br/>
           <li> <a href="#">Process</a> </li>
           <li>  <a href="#">Courses</a> </li>
           <li><a href="#">Teachers</a> </li>
           <li> <a href="#">Price</a> </li>
         </ul>
       </div>
       <div class="col-lg-3 col-sm-2 col-xs-3">
         <ul class="quick-links">
        <li> <a href="#">About school</a> </li>
        <li>  <a href="#">Career in skyeng</a> </li>
        <li><a href="#">Affiliate program</a> </li>
        <li> <a href="#">Reviews</a> </li>   
         </ul>
         <ul> 
            <li> <a href="#">GoAhead magazine</a> </li>
            <li> <a href="#">Articles</a> </li>
            <li>  <a href="#">Corporate training</a> </li>
            <li><a href="#">Marathon</a> </li>
         </ul>
          <ul> 
            <li> <a href="#">Sign up for an introductory lesson</a> </li>
            <li> <a href="#">Addresses and Phones</a> </li>
            <li> <a href="#"> Give a certificate</a> </li>
            <li> <a href="#">Webinar for motivation</a> </li>
         </ul>
      
       </div>
     </div>
   </div>
</div>

 

  
      
     <ul> 
        <li> <a href="#">GoAhead magazine</a> </li>
        <li> <a href="#">Articles</a> </li>
        <li>  <a href="#">Corporate training</a> </li>
        <li><a href="#">Marathon</a> </li>
     </ul>
     <ul> 
        <li> <a href="#">Sign up for an introductory lesson</a> </li>
        <li> <a href="#">Addresses and Phones</a> </li>
        <li>  <a href="#"> Give a certificate</a> </li>
        <li><a href="#">Webinar for motivation</a> </li>
     </ul>
  </footer>