<div class="header-top">
    <nav class="header-nav">
  
  
      <div class="nav-links">
        <ul class="left-links">
  
          <li class="nav-link nav-logo">
            <a routerLink="">GoAhead!</a>
          </li>
          <li class="nav-link dropdown-menu" (mouseenter)="dropdownMenuDisplay('courses')" (mouseleave)="dropdownMenuHide('courses')">
            <a routerLink="courses">
              <span class="link-name">Courses</span>
              <span class="dropdown-btn">▾</span>
            </a>
            <div class="options-window-container" *ngIf="displayDropdownWindows.courses">
                <div class="options" *ngFor="let course of courses">
                    <app-course [course]=course></app-course>
                </div>
             
            </div>
          </li>
          <li class="nav-link dropdown-menu" (mouseenter)="dropdownMenuDisplay('teachers')" (mouseleave)="dropdownMenuHide('teachers')">
            <a routerLink="teachers">
              <span class="link-name">Teachers</span>
              <span class="dropdown-btn">▾</span>
            </a>
            <div class="options-window-container" *ngIf="displayDropdownWindows.teachers">
              <ul class="options">
                <li class="option">
                  <div class="option-name">Calculus II</div>
                </li>
                <li class="option">
                  <div class="option-name">Calculus I</div>
                </li>
                <li class="option">
                  <div class="option-name">Differential Equations</div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-link dropdown-menu" (mouseenter)="dropdownMenuDisplay('universities')" (mouseleave)="dropdownMenuHide('universities')">
            <a routerLink="universities">
              <span class="link-name">Universities</span>
              <span class="dropdown-btn">▾</span>
            </a>
            <div class="options-window-container" *ngIf="displayDropdownWindows.universities">
              <ul class="options">
                <li class="option">
                  <div class="option-name">Calculus II</div>
                </li>
                <li class="option">
                  <div class="option-name">Calculus I</div>
                </li>
                <li class="option">
                  <div class="option-name">Differential Equations</div>
                </li>
              </ul>
            </div>
          </li>
  
        </ul>
        <ul class="right-links">
          <li class="nav-link">
            <a routerLink="">
              <span class="link-name">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a id="signup-btn" (click)="signup()" *ngIf="!isLoggedIn">Sign up</a>
          </li>
          <li class="nav-link">
            <a id="login-logout-btn" (click)="isLoggedIn ? logout() : login() ">{{ isLoggedIn ? 'Logout' : 'Login'}}</a>
          </li>
          <!-- <li class="nav-link">
            <a id="logout-btn" (click)="logout()" *ngIf="!isLoggedIn">Logout</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
  
  <!-- <div class="cart-container" *ngIf="cartVisible">
    <div id="cart-window">
        <ul class="cart-items">
            <p *ngIf="cart.items.length === 0">
                Your cart is empty!
            </p>
            <li class="cart-item" *ngFor="let item of cart.items">
                <div class="left">
                    <img class="item-img" src="{{ database.products[item.id].img }}" alt="picture">
                    <div class="info">
                        <p class="item-name">{{ database.products[item.id].name }}</p>
                        <p class="item-price">{{ database.products[item.id].price * item.quantity | currency }}</p>
                    </div>
                </div>
                <div class="control-block">
                    <a (click)="plus(item)"><i class="fas fa-plus"></i></a>
                    <p>{{ item.quantity }}</p>
                    <a (click)="minus(item)"><i class="fas fa-minus"></i></a>
                </div>
            </li>
        </ul>
        <div class="row cart-footer" *ngIf="!(cart.items.length === 0)">
            <p id="total-price">Total price: {{ angularMath.getNumberWithDecimals(database.cart.totalPrice, 2) | currency}}</p>
            <a id="checkout-btn" href="/cart">Checkout</a>
        </div>
    </div>
    
</div>
   -->